@import url('style.css');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body {
    font-family: 'Merriweather', cursive;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #004275;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #004275;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li i{
    padding:10px;
    color:#fff;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #FF6347;
    /* background: #fff; */
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #FF6347;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1eb2a6;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
@media(min-width:768px){
    #sidebarCollapse{
      display:none;
    }
  }